@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martel+Sans:wght@600;800&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body, html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: transparent;
}
.logo{
padding-left: 50px;
padding-top: 20px;
font-weight: bold;
font-size: x-large;
font-family: 'Pacifico';
font-size: 35px;
color: #E6A65D;

}
.right-side{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
   padding-top: 20px;
}
.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    font-style: normal;
    font-weight: 900;
    font-family: 'Pacifico' cursive;
    font-size: x-large;
    color: #D3D3D3;
    cursor: pointer;
}
.nav-link ul {
    display: flex;
    list-style: none;
    gap: 15px;
}
.btn{
    background-color:chocolate; 
     border-radius: 8px;
     border: none;
     color: white;
     padding: 10px 18px;
     border: 2px solid;
     cursor: pointer;
}
/* Hero Section Container */
.Hero{
    width: 100%;
    height: 100vh;
    background-image: url(coffee\ image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden; 
}


/* Left Content Side */
.content {
   padding-top: 150px;
    padding-left: 40px;
}

/* Stats Styling */
.stats {
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
    gap: 10px;
}

.stats p {
    font-size: 14px;
    line-height: 18px;
    color:rgb(149, 132, 120);
    padding-left: 20px;
    gap: 10px;
}

.stats span {
    font-size: 32px; /* Numbers ko bada dikhane ke liye */
    font-weight: 800;
    color:light rgb(103, 16, 16);
    display: block;
    
}

/* Main Heading (Coffee Shop) */
.content h1 {
    font-size: 80px; /* Bada heading */
    color: #F5F5DC;
    margin-bottom: 20px;
    line-height: 90px;
}

/* Description Text */
.description {
    font-size: 16px;
    width: 400px; /* Text ki width limit kar di taaki design jaisa dikhe */
    color: light brown;
    margin-bottom: 40px;
}

/* Shop Now Button */
.shop-btn {
    padding: 15px 35px;
    background-color:maroon;
    color: #ffffff;
    border: none;
    border-radius: 50px; /* Round corners */
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

